body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
 
}

main {
  flex-grow: 1; 
}

.custom-footer {
  margin-top: auto; 
}
#hero{
  width: 100%;
  background-position: center;
  background-size: cover;
}
